name: Run tests with Tox
on: [push, pull_request]

jobs:
  call-inclusive-naming-check:
    name: Inclusive naming
    uses: canonical-web-and-design/Inclusive-naming/.github/workflows/woke.yaml@main
    with:
      fail-on-error: "true"

  lint-unit:
    name: Lint Unit
    uses: charmed-kubernetes/workflows/.github/workflows/lint-unit.yaml@main
    needs:
      - call-inclusive-naming-check
    with:
      python: "['3.6', '3.7', '3.8', '3.9', '3.10']"

# NOTE (rgildein): Functional tests have been replaced from the GitHub workflow until
# a replacement for Microstak as a cloud is found.
